.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
}

.Blog li a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: normal;
}

.Blog li a:hover,
.Blog li a:active,
.Blog li a.active {
    color: orangered;
    text-decoration: underline;
}